.Login-Field {
    border: none;
    background: black;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

.Login-Field:focus {
    box-shadow: 0 4px 4px rgb(0, 0, 0, .5);
    outline:none;
}

.Login-Error {
    color: red;
}

.Login-Btn {
    background: green;
    color:white;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
}

.Login-Btn:hover {
    cursor: pointer;
}

.titulo-login {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #006600;
    padding-top: 7.5vh;
    padding-left: 50vw;
    transform: translateX(-25%);
}