

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background: #006600;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.logo { 
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;

}

.nav-links a {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    
  }



@media all and (max-width: 768px) {
    body {
        display: none;
    }
}